
@{
    ViewBag.Title = "Invoice";
}

<h2>Invoice</h2>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="input">Issue Date From:</label>
            <input type="date" class="form-control box" id="fname">

        </div>
        <div class="form-group">
            <label class="input">Issue Date to:</label>
            <input type="date" class="form-control box" id="lname">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="input">Collection Date From:</label>
            <input type="date" class="form-control box" id="email">

        </div>
        <div class="form-group">
            <label class="input">Collection Date to:</label>
            <input type="date" class="form-control box" id="pwd">

        </div>
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Customers
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu"></ul>
</div>

<center>
    <button id="btn1" type="button" onclick="search()" class="btn btn-default">Search</button>
</center>


<div class="panel panel-primary" id="invoiceList">
    <div class="panel-heading">
        Invoices
    </div>   <!--en dof panel-heading -->
    <div class="panel-body" >
        <table class="table table-bordered" id="invoiceTable">
            <tr>
                <th>Invoice No</th>
                <th>Issue Date</th>
                <th>Collection Date</th>
                <th>Actual Collection Date</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Collected</th>
                <th>Suspended</th>
                <th>Comment</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->
