
@{
    ViewBag.Title = "Setup";
}

<h2>Add Customer</h2>

<div class="row">

    <div class="form-group">
        <label>Customer Name</label>
        <input type="text" class="form-control box" id="Name">
    </div>

    <div class="form-group">
        <label class="input" id="Active">Active:</label>
        <input type='checkbox' id="active">
    </div>

    <center>
        <button id="add" type="button" onclick="addCustomer()" class="btn btn-default">Add</button>
    </center>

</div>

@section scripts
{
    <script>
      

        $(document).ready(function () {
            $("#add").click(function (e) {
                e.preventDefault();
                var apiurl = "~/InvoiceSystem/Collection.APIs/CustomerApi/addCustomer";
                var apiurl
                var data = {
                    Name: $("#Name").val().trim(),
                    Active: $("#Add").attr('checked') 
                   
                }
                $.ajax({
                    url: apiurl,
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (d) {
                        alert("Saved Successfully");
                        document.getElementById("postform").reset();
                    },
                    error: function () {
                        alert("Error please try again");
                    }
                });
            });
        });  

    </script>
}