@model  Collection.DAL.Customer
@{
    ViewBag.Title = "Setup";
}

<h2>Add Customer</h2>

@using (Html.BeginForm("",""))
{
 
    <div class="form-horizontal">

     
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, value = "true", htmlAttributes: new { @class = "control-label col-md-2" })
            <div cla0ss="col-md-10">
                @Html.CheckBoxFor(model => model.Active, new { @checked = "checked" })
            </div>

         
            
        </div>


       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Customer" class="btn btn-default" />
            </div>
        </div>
    </div>
<<<<<<< HEAD


=======
    
>>>>>>> 87059c047ccb836cce57c4d34f1d30b10c3c5eb2

}
@section scripts
{
    <script>
      

   
    </script>
}